html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #3F3D56;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}