.home {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 48px;
  max-width: 1640px;
  margin: 0 auto;

  //Lists
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    border: 2px solid #FF6B6B;
  }
  &__form {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    border: 2px solid #FF6B6B;
  }

  //List Items
  &__builder {
    background: #FF6B6B;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 24px;
    cursor: pointer;

    &-icon {
      border: 2px solid #3F3D56;
      font-size: 48px;
      color:  #3F3D56;
      height: 58px;
      width: 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      transition: all .15s;
      user-select: none;
      pointer-events: none;
    }
    &-text {
      color:  #3F3D56;
      font-size: 36px;
      line-height: 1.5;
      font-weight: 600;
      transition: all .15s;
      user-select: none;
      pointer-events: none;
    }

    &:hover & {
      &-icon {
        border-color: #fff;
        color: #fff;
      }
      &-text {
        color: #fff;
      }
    }
  }
}